.maincontainer{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.app{
    max-width: 930px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.productContainer {
    margin-top: 2rem;
    display: flex;
    gap: 20px;
}

.productContainer>div:nth-of-type(1) {
    display: flex;
    flex-wrap: wrap;
    gap: 55.5px;
    flex: 3;
}

.productContainer>div:nth-of-type(2) {
    background-color: white;
    height: fit-content;
    flex: 1;
    position: sticky;
    top: 0;
}
.wholecard{
    box-shadow: 13.5px 12.8px 11px #cbbebe;
}

.place-order {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 1rem 1rem;
    position: sticky;
    bottom: 0;
    background-color: white;
}

.place-order>button {
    background-color: orangered;
    border: 0;
    float: right;
    padding: 0.5rem;
    width: 20%;
}

.cart-title {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 1rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #047BD5;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav {
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    align-items: center;
    background-color: #047BD5;
    list-style: none;
    justify-content: space-around;
}
.right-nav{
    display: flex;
    align-items: center;
    gap: 33px;
}
.right-nav>h6{
    font-size: 19.3px;
    color: #EB455F;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    cursor: pointer;
}
.right-nav>h6:hover{
    text-decoration: underline;
}

.icon {
    font-size: 2.1rem;
    text-decoration: none;
    color: #EB455F;
    align-items: center;
    font-family: 'Merriweather', serif;
}

.cart {
    color: #EB455F;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
}

.card-body>div {
    display: flex;
    justify-content: space-between;
}

.filters {
    background-color: black;
    height: fit-content;
    color: white;
    padding: 1.2rem
}

.filters>div>div {
    padding: 1rem 0 1rem 1rem;
}

.cartItems {
    display: flex;
    gap: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 10px;
}

.cartItems>div:nth-of-type(1) {
    flex: 1;
    height: 10rem;
    text-align: center;
}

.cartItems>div:nth-of-type(2) {
    align-items: center;
    line-height: 3rem;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    flex: 3;
}

.cartTotal {
    padding: 1.5rem;
    gap: 0.5rem;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 10px 10px 10px 5px lightgrey;
}

.cartTotal>div {
    display: flex;
    justify-content: space-between;
}

.cartTotal>hr {
    border-top: 1px dashed darkgrey;
}
.mainProduct{
    display: flex;
    gap: 50px;
    max-width: 930px;
    width: 100%;
    margin: 30px 0;
    box-shadow: 10px 10px 10px 10px lightgrey;
    padding: 10px;
}
.mainProduct-left{
    flex: 2;
}
.mainProduct-left img{
    width: 100%;
}
.mainProduct-right{
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    gap: 10px;
}
.mainProduct-right>div:nth-of-type(1){
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: #878080;
}
.mainProduct-right>div:nth-of-type(2){
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    margin-top: -5px;
}
.mainProduct-right>div:nth-of-type(3){
    font-size: 15.1px;
    margin-top: -5px;
    font-weight: 500;
    color: #EB455F;
}
.price{
    display: flex;
    align-items: center;
    gap: 20px;
}
.price>span:nth-of-type(1){
    font-size: 40px;
    margin-top: -5px;
    font-family: sans-serif; 
}
.price>span:nth-of-type(2){
    font-size: 16px;
    font-weight: bold;
    color: #EB455F;
}
.rating{
    display: flex;
    align-items: center;
    background-color: #EB455F;
    color: white;
    width: fit-content;
    padding: 5px;
    border-radius: 8.3px;
    gap: 3.4px;
}
.productDetails{
    margin-top: 17px;
}
.productDetails>p{
    font-size: 14.5px;
    font-family: 'Oswald', sans-serif;
}
.form-body{
    text-align: center;
}
.submit-btn{
    margin-top: 1.7px;
    border: none;
    color: white;
    width: 100%;
    padding: 4.8px 13.5px;
    border-radius: 5.8px;
    background-color: #EB455F;
}
.sign-out-text{
    font-size: 12.5px;
    margin-top: 3px;
}
.sign-out-text>span{
    text-decoration: underline;
    color: #EB455F;
    cursor: pointer;
}

/* RESPONSIVE */

@media screen and (max-width:768px){
    .app{
        max-width: 600px;
    }
    .cartItems>div:nth-of-type(2) {
        line-height: 33.5px;
        font-size: 17px;
    }
}
@media screen and (max-width:425px){
    .app{
        max-width: 260px;
    }
    .emptycart img{
        width: 20rem;
    }
    .productContainer{
        display: block;
    }
    .cartItems{
        display: block;
    }
    .cartItems>div:nth-of-type(2) {
        text-align: center;
    }
    .cartTotal{
        width: 100%;
        margin-top: 20px;
    }
    .mainProduct{
        display: block;
    }
    .mainProduct-right{
        margin-top: 15px;
    }
}
