.productContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1rem;
}
.card{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    border-radius: 25px;
    border: 2px solid gray;
    height: 28rem;
}
.nav-container{
    display: block;
}
.nav{
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    align-items: center;
    background-color: #047BD5;
    list-style: none;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: inherit;
}
.nav>li{
    color: white;
    cursor: pointer;
}
.nav>li>a:hover{
    color: white;
    font-weight: bold;
}
.icon{
    font-size: 2.1rem;
    /* padding-left: 4.7rem; */
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cart{
    /* padding-right: 9rem; */
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
}
.card-body>div{
    display: flex;
    justify-content: space-between;
}
